{% extends 'music-layout.html' %}

{% block title %}osmose-music{% endblock %}

{% block body %}
{% for song in this.children %}
<a href="{{ song|url }}" class="song-list-item">
  <div class="square-box song-list-cover-art-box">
    <div class="interior">
      <img class="song-list-cover-art" src="{{ song.attachments.images.first()|url }}">
    </div>
  </div>
  <div class="song-list-info">
    <div class="round-box pixel-font song-list-title-box">
      <div class="interior">
        {{ song.title }}
      </div>
    </div>
    <div class="round-box song-list-tag-box">
      <div class="interior">
        {% for tag in song.tags %}
          <span class="tag tag-{{tag}}">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
</a>
{% endfor %}
{% endblock %}
