{% extends 'music-layout.html' %}

{% block title %}{{ this.title }} by {{ this.author }}{% endblock %}

{% block head %}
<meta property="og:title" content="{{ this.title }} by {{ this.author }}">
<meta property="og:url" content="{{ this|url(absolute=True) }}">
<meta property="og:type" content="music.song">
<meta property="og:description" content="{{ this.description }}">
<meta property="og:image" content="{{ this.attachments.images.first()|url(absolute=True) }}">

<meta name="twitter:card" content="player" />
<meta name="twitter:site" content="@Osmose" />
<meta name="twitter:player" content="{{ this|url(absolute=True) }}" />
<meta name="twitter:player:width" content="400" />
<meta name="twitter:player:height" content="600" />
{% endblock %}

{% block body %}
<div id="songInfo" data-song-info="{{
  {
    'title': this.title,
    'author': this.author,
    'url': this.attachments.audio.first()|url,
    'cover_art_url': this.attachments.images.first()|url,
  }|tojson|forceescape
}}"></div>

<div class="player-container {% block playerclass %}{% endblock %}">
  <div class="square-box cover-art-box">
    <div class="interior">
      <img data-amplitude-song-info="cover_art_url" class="cover-art"/>
    </div>
  </div>

  <div class="controls-container">
    <div class="round-box play-pause-box">
      <div class="interior">
        <div class="amplitude-play-pause" id="play-pause"></div>
      </div>
    </div>
    <div class="round-box position-box">
      <div class="interior">
        <div class="square-box progress-box">
          <div class="interior">
            <progress class="amplitude-song-played-progress"></progress>
          </div>
        </div>

        <div class="time-container pixel-font">
          <span class="current-time">
            <span class="amplitude-current-minutes"></span>:<span class="amplitude-current-seconds"></span>
          </span>
          <span class="duration">
            <span class="amplitude-duration-minutes"></span>:<span class="amplitude-duration-seconds"></span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="extra-container">
    <div class="round-box">
      <div class="interior">
        {% for tag in this.tags %}
          <span class="tag tag-{{tag}}">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
    <a class="round-box download pixel-font" href="{{ this.attachments.audio.first()|url }}" download="{{ this._id }}.mp3">
      <div class="interior">
        Download
      </div>
    </a>
  </div>

  {% block description %}
  <div class="round-box description-box">
    <div class="interior">
      {{ this.body }}
    </div>
  </div>
  {% endblock %}
</div>


<script src="{{ '/static/music/amplitude.js'|asseturl }}"></script>
<script src="{{ '/static/music/song.js'|asseturl }}"></script>
{% endblock %}
