{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2 class="blog-title"><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2 class="blog-title">{{ post.title }}</h2>
  {% endif %}
  <div class="meta">
    <span>
      <i class="octicon octicon-calendar"></i>
      {{ post.pub_date|datetimeformat('MMMM d, yyyy') }}
    </span>
    <span>
      <i class="octicon octicon-tag"></i>
      {{ post.tags|join(' ') }}
    </span>
  </div>
  {{ post.body }}
  </div>
{% endmacro %}
