<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
<title>{% block title %}Welcome{% endblock %} — mkelly.me</title>
<body>
  <header>
    <span class="avatar"></span>
    <h1>Michael Kelly</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li {% if this._path == '/' %} class="active"{% endif %}>
          <a href="{{ '/'|url }}">About</a>
        </li>
        <li {% if this.is_child_of('/blog') %} class="active"{% endif %}>
          <a href="{{ '/blog'|url }}">Blog</a>
        </li>
        <li><a href="https://twitter.com/osmose">@Osmose</a></li>
        <li><a href="https://github.com/osmose/">Github</a></li>
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2016 by Michael Kelly.
  </footer>
</body>
