@import url('https://code.cdn.mozilla.net/fonts/fira.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css');

* {
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
    line-height: 1.6;
    margin: 0;
}

a {
    color: #3498DB;
    text-decoration: none;
}

a:hover {
    color: #2980B9;
}

p, .highlight {
    margin: 1.3em 0;
}

code {
    background: #ECF0F1;
    padding: 2px 3px;
    font-family: "Fira Mono", monospace;
    font-size: .9em;
}

footer, div.page {
    max-width: 44em;
    margin: 0 auto;
    padding: 1em;

}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('zzt.png');
    background-size: cover;
    color: #ECF0F1;
    text-align: center;
    padding: 5vw 2em;
}

header h1 {
    margin: 0 0 .5em;
    font-weight: 500;
    font-size: 42px;
}

header .avatar {
    background: #ECF0F1 url('avatar.png');
    background-size: cover;
    background-position: center center;
    height: 128px;
    width: 128px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
}

header nav {
    margin: 0 auto;
    background: #ECF0F1;
    display: inline-block;
    padding: .5em 1em;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    padding: .5em;
    margin: 0;
    flex: 1;
}

.footer {
    margin-top: 2em;
    text-align: center;
}

div.page {
}

div.highlight {
    background: #ECF0F1;
    border-left: 2px solid #E74C3C;
    border-bottom: 1px solid #dbe3e4;
    padding: 1em;
    overflow: auto;
}

.highlight pre {
    margin: 0;
    font-family: "Fira Mono", monospace;
    font-size: .8em;
}

h1, h2 {
    margin: 1em 0;
}

hr {
    border: 1px solid #dbe3e4;
    margin: 2.5em 0;
}

ul {
    list-style-type: square;
}

.page img {
    max-width: 100%;
}

.blog-post {
    margin-bottom: 6em;
}

.blog-title {
    font-size: 30px;
    margin: .5em 0 .2em;
}

.meta > span {
    margin-right: 1em;
}

figure {
    text-align: center;
    margin: 1.3em 0;
}

figcaption {
    font-size: .8em;
}

dd {
    margin-bottom: 1.3em;
}

.glitch-embed-wrap {
    height: 600px;
    width: 1000px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.page-number {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    border: 1px solid #3498DB;
}

.page-number.selected {
    background: #3498DB;
    color: #FFF;
}
